.app {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.gradient-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content-layer {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}
